<div class="jumbotron">
    <h1>{{{stock.companyName}}} {{{stock.symbol}}}</h1>
    <br>
    <strong>Latest Price: </strong>${{{stock.latestPrice}}} <br>
    <strong>Previous Close: </strong>${{{stock.previousClose}}}<br>
    <strong>Change Percent: </strong>{{{stock.changePercent}}}<br>
    <strong>Market Cap </strong>${{{stock.marketCap}}}<br>
    <strong>52 Week High: </strong>{{{stock.week52High}}}<br>
    <strong>52 Week Low: </strong>{{{stock.week52Low}}}<br></p>
</div>
<br>

{{#each stock}}
    {{@key}} | {{this}} <br>
{{/each}}